body {
  background-color: #676C71;
}
p {
  color:white;
  }
  p{
    position: relative;
    left: 525px;
    }
img {
  height:auto;
  width:300px;
  position:absolute;
  left:auto;
  right:600px;
  }
